@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;

.hero {
  padding-top: clamp(3rem, 10vh, 9.5rem);
  position: relative;
}

.hero::after {
  content: "";
  background-image: var(--hand-img);
  background-size: clamp(700px, 50vh, 1036px);
  position: absolute;
  background-position: right calc(100% + 5rem);
  background-repeat: no-repeat;
  z-index: 0;
  inset: 0;
  pointer-events: none;
}

.hero::before {
  content: "";
  background-image: var(--robot-img);
  background-size: clamp(900px, 65vh, 1231px);
  position: absolute;
  background-position: left calc(100% + 7rem);
  background-repeat: no-repeat;
  z-index: 0;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: clamp(10rem, 22vw, 26.688rem);
  margin: 0 auto;
}

.heroContainerImg {
  width: clamp(65rem, 60vw, 78.375rem);
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 1vw, 2.5rem);

  h2 {
    font-weight: 700;
  }
}

.heroApply {
  display: flex;
  flex-direction: row;
  gap: clamp(0.5rem, 1vw, 1.188rem);
  align-items: center;
  width: fit-content;

  img {
    width: clamp(3rem, 5vw, 5.375rem);
    height: auto;
  }

  span {
    border: 0.063rem solid $black;
    border-radius: 4.375rem;
    padding: clamp(0.2rem, 2vw, 0.438rem) clamp(0.8rem, 2vw, 1.375rem);
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 400;
    color: $dark-jungle-green;
  }

  button {
    @include btn(
      $yellowship-green,
      $dark-jungle-green,
      clamp(1rem, 2vw, 1.5rem),
      clamp(0.2rem, 1vw, 0.438rem),
      clamp(4rem, 5vw, 10.125rem),
      clamp(0.2rem, 1vw, 0.438rem),
      clamp(4rem, 5vw, 10.125rem),
      clamp(2.5rem, 3vw, 4.375rem)

      
    );
    font-weight: 700;
  }

  
}

@media (max-width: 1460px) {
  .hero::after {
    background-size: clamp(500px, 50vh, 800px);
    background-position: right calc(100% + 8rem);
  }

  .hero::before {
    background-size: clamp(720px, 65vh, 1000px);
    background-position: left calc(100% + 10rem);
  }

  .heroApply {
    gap: clamp(0.2rem, 0.6vw, 1rem);

    img {
      width: clamp(3rem, 5vw, 4.5rem);
    }

    span,
    button {
      font-size: clamp(1rem, 2vw, 1.2rem);
    }

    button {
      padding: clamp(0.2rem, 1vw, 0.438rem) clamp(2rem, 3.5vw, 6.125rem);
    }
  }
}

@media (max-width: 1280px) {

  .heroContainer {
    gap: clamp(10rem, 26vw, 26.688rem);
  }

  .hero::after {
    background-size: clamp(400px, 43vh, 650px);
    background-position: right calc(100% + 1rem);
  }

  .hero::before {
    background-size: clamp(620px, 57vh, 900px);
    background-position: left calc(100% + 0.5rem);
  }

  .heroContainerImg {
    width: clamp(55rem, 50vw, 65rem);
  }

  .heroApply {
    span,
    button {
      font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    }

    button {
      padding: clamp(0.1rem, 1vw, 0.3rem) clamp(1rem, 2.5vw, 4rem);
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    padding-top: 2.5rem;
  }

  .heroContainer {
    gap: 390px;
  }

  .heroContainerImg {
    width: clamp(40rem, 40vw, 45.8rem);
  }

  .hero::after {
    background-image: var(--hand-img-tablet);
    background-size: clamp(300px, 32vh, 498px);
    background-position: right calc(100% + 2.5rem);
  }

  .hero::before {
    background-size: clamp(450px, 45vh, 792px);
    background-position: left calc(100% + -1rem);
  }

  .heroText {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1vw, 0.938rem);

    h2 {
      font-weight: 700;
    }
  }

  .heroApply {
    span,
    button {
      font-size: clamp(0.5rem, 1.5vw, 0.85rem);
    }

    button {
      padding: clamp(0.2rem, 1vw, 0.4rem) clamp(2rem, 2.5vw, 4.2rem);
    }
  }
}

@media (max-width: 884px) {
  .hero::after {
    background-size: clamp(320px, 29vh, 400px);
    background-position: right calc(100% + 3.5rem);
  }

  .heroContainer {
    gap: 289px;
  }


  .heroContainerImg {
    width: clamp(30rem, 72vw, 35rem);
  }
}


@media (max-width: 690px) {
  .hero::after {
    background-size: clamp(280px, 20vh, 400px);
    background-position: right calc(100% + 2rem);
  }

  .hero::before {
    background-size: clamp(250px, 57vh, 600px);
    background-position: left calc(100% + -1.5rem);
  }
}

@media (max-width: 590px) {
    .hero::after {
    background-size: clamp(234px, 10vh, 400px);
    background-position: right calc(100% + 2rem);
  }

  .hero::before {
    background-size: clamp(250px, 46vh, 600px);
    background-position: left calc(100% + -1.5rem);
  }

      .heroContainer {
        gap: clamp(9rem, 22vh, 12.438rem);
    }
}

@media (max-width: 480px) {
  .hero {
    padding-top: 3.163rem;
  }

  .heroContainer {
    gap: 16rem;
  }

  .heroContainerImg {
    width: clamp(15rem, 84vw, 19.6rem);
  }

  .heroText {
    gap: 0;
  }

   .hero::after {
    background-image: var(--hand-img-mobile);
    background-size: clamp(120px, 34vh, 238px);
    background-position: right calc(100% + -4rem);
  }

  .hero::before {
    background-image: var(--robot-img-mobile);
    background-size: clamp(220px, 28vh, 348px);
    background-position: left calc(100% + -14.5rem);
  }

  .heroApply {
    flex-direction: column;
    gap: 20px;
    position: relative;

    span {
      font-size: 0.75rem;
      padding: 8.5px 22px 8.5px 53px;
    }

    button {
      padding: 18px 0;
      width: 100%;
      font-size: 12px;
    }

    img {
      position: absolute;
      left: -8vw;
      top: 4vh;
      width: 77px;
    }
  }
}

@media (max-width: 400px) {
   .hero::after {
    background-image: var(--hand-img-mobile);
    background-size: clamp(120px, 32vh, 238px);
    background-position: right calc(100% + -3.5rem);
  }

  .hero::before {
    background-image: var(--robot-img-mobile);
    background-size: clamp(220px, 30vh, 348px);
    background-position: left calc(100% + -14.5rem);
  }
}
