@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;

.hero {
  padding-top: clamp(3rem, 10vh, 7.5rem);
  position: relative;
}

.hero::after {
  content: "";
  background-image: var(--hand-img);
  background-size: clamp(700px, 50vh, 1036px);
  position: absolute;
  background-position: right calc(100% + 5rem);
  background-repeat: no-repeat;
  z-index: 0;
  inset: 0;
  pointer-events: none;
  
}

.hero::before {
  content: "";
  background-image: var(--robot-img);
  background-size: clamp(900px, 65vh, 1231px);
  position: absolute;
  background-position: left calc(100% + 7rem);
  background-repeat: no-repeat;
  z-index: 0;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: clamp(10rem, 22vw, 26.688rem);
  margin: 0 auto;
}

// .heroContainer:before {
//    content: '';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: clamp(600px, 30vw, 1035px); // задаём размер
//   height: clamp(300px, 30vw, 582px);
//   background-image: url(../../assets/images/hero/3d-cube.png);
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center;
//   transform: translate(-50%, -50%); // центрируем по центру
//   z-index: 0;
//   pointer-events: none;

// }

.heroContainerImg {
  width: clamp(40rem, 60vw, 78.375rem);
  height: auto;
  margin: 0 auto;
    position: relative;
  z-index: -1;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 1vw, 2.5rem);

  h2 {
    font-weight: 700;
  }
}

.heroApply {
  display: flex;
  flex-direction: row;
  gap: clamp(0.5rem, 1vw, 1.188rem);
  align-items: center;

  img {
    width: clamp(3rem, 5vw, 5.375rem);
    height: auto;
  }

  span {
    border: 0.063rem solid $black;
    border-radius: 4.375rem;
    padding: clamp(0.2rem, 2vw, 0.438rem) clamp(0.8rem, 2vw, 1.375rem);
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 400;
    color: $dark-jungle-green;
  }

  button {
    @include btn(
      $yellowship-green,
      $dark-jungle-green,
      clamp(1rem, 2vw, 1.5rem),
      clamp(0.2rem, 1vw, 0.438rem),
      clamp(5rem, 5vw, 10.125rem),
      clamp(0.2rem, 1vw, 0.438rem),
      clamp(5rem, 5vw, 10.125rem),
      clamp(2.5rem, 3vw, 4.375rem)
    );
    font-weight: 700;
  }
}

@media (max-width: 1680px) {

  .heroApply {
    gap: clamp(0.2rem, 0.6vw, 1rem);

    img {
      width: clamp(3rem, 5vw, 4.5rem);
    }

    span,
    button {
      font-size: clamp(1rem, 2vw, 1.2rem);
    }

    button {
      padding: clamp(0.2rem, 1vw, 0.438rem) clamp(2rem, 3.5vw, 6.125rem);
    }
  }
}
