.trainingBlock {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.trainingTasksHeader {
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 4.688rem;
}

@media (max-width: 1024px) {

  .trainingBlock,
  .cards {
    gap: 2.625rem;
  }

}

