@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;


.jobSection {
padding: 7.5rem 0;

}

.jobBlock {
  display: flex;
  flex-direction: column;
  gap: 2.188rem;
}

.jobBlockContainer {
position: relative;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
row-gap: 2.313rem;
column-gap: 3.5rem;
}

.jobPrepHeader {
  padding: 1.875rem;
  border-radius: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  background-color: $dark-jungle-green;
  text-align: center;
  color: $white;
}


