@use "./variables" as *;
@use "./mixins" as *;

body {
  font-family: 'Roboto-c', sans-serif;
  background-color: $white;
  color: $black;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}


.container { 
  @include min-max(320px, 100%); 
}


.wrap {
  @include min-max(320px, 1920px);
  width: 100%;
  padding: 0 7.708vw;
  box-sizing: border-box;
}

.block-wrap {
  @include min-max(320px, 1920px);
  width: 100%;
  padding: 0 3.385vw;
  box-sizing: border-box;
}

.sectionContainer {
  padding: 4.75rem;
  border-radius: 1.25rem;
}

body, 
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

@media (max-width: 1064px) {
  .wrap {
  padding: 0 5.708vw;
}
}