.BlockTitle {
  font-family: "Minecraft-1-1-c", sans-serif;
  font-weight: 400;
  font-size: clamp(1.2rem , 2vw , 2.25rem);
  padding: clamp( 0.5rem, 2vh, 1.063rem) clamp(0.8rem, 2vw, 1.188rem);
   width: fit-content; 
}