@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;
.card {
  padding: 3.875rem 2.938rem;
  border: 0.188rem solid $dark-jungle-green;
  border-radius: 1.75rem;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-end; 
  justify-content: space-between; 
}

.cardText {
  font-weight: 500;
  font-size: 2.25rem;
  color: $dark-jungle-green;
}

.imageWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: clamp(2.5rem, 10vw, 4.9rem);
}

.cardImage {
  padding-right: 0;
  width: clamp(122px, 31%, 600px);
  height: auto;
}

@media (max-width: 1600px) {
  .card {
  padding: 2.875rem 2.938rem;
}

 .cardText {
  font-size: 1.8rem;
}

.imageWrapper {
  padding-right: 0;
}

.cardImage {
  width: clamp(95px, 31%, 300px);
  height: auto;
}
}

@media (max-width: 1170px) {
  .card {
    padding: 2rem;
    border: 0.188rem solid $dark-jungle-green;
   border-radius: 0.938rem;
  }

  .cardText {
    font-size: 1rem;
  }

  .imageWrapper {
    padding-right: 0;
    justify-content: flex-end;
    align-items: flex-end; 
  }

  .cardImage {
    width: clamp(60px, 31%, 93px);
    height: auto;
  }
}

