@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;

.about {
  padding: 7.5rem 0;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  gap: 0.938rem;
}

.aboutContentText {
  background-color: $dark-jungle-green;
  display: flex;
  flex-direction: column;
  gap: 2.813rem;
  width: clamp(40rem, 49vw, 65.313rem);
}

.aboutTitle {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  padding-right: clamp(1.5rem, 7vw, 9.5rem);
}

.sectionTitle,
.paragraph {
  color: $white;
}

.sectionBlockTitle {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}


.firstBlockTitle {
  color: $dark-jungle-green;
  background-color: $yellowship-green;
}

.secondBlockTitle {
  color: $white;
  background-color: $blue-orchid;
  align-self: flex-end;
    position: relative;
}


.aboutContentSubtitle {
  font-family: "Roboto-c", sans-serif;
  font-weight: 400;
  color: $white;
  font-size: 1.25rem;
}

.aboutContentImg {
  content: "";
  background-image: url(../../assets/images/aboutProgram//students.png);
  background-size: cover;
  width: 40%;
  border-radius: 1.25rem;
}

@media (max-width: 1680px) {
  .about {
    padding: 5rem 0;
  }

  .aboutContent {
    gap: 0.5rem;
  }

  .aboutContentText {
    gap: 2rem;
    width: clamp(30rem, 60vw, 50rem);
  }

  .aboutTitle {
    gap: 1rem;
    padding-right: clamp(1rem, 5vw, 6rem);
  }

  .sectionBlockTitle {
    gap: 1.5rem;
  }

  .firstBlockTitle {
    font-size: 1.1rem;
  }

  .secondBlockTitle {
    font-size: 1.1rem;
  }

  .aboutContentSubtitle {
    font-size: 1rem;
  }

  .aboutContentImg {
    width: 50%;
    border-radius: 1rem;
  }
}

@media (max-width: 1024px) {

  .about {
  padding: 4rem 0;
}

.aboutContent {
  gap: 1rem;
}

.aboutContentText {
  gap: 1.125rem;
}

.aboutTitle {
  gap: 0.625rem;
  padding-right: clamp(1rem, 4vw, 2.8rem);
}

.sectionBlockTitle {
  gap: 1rem;
}

.aboutContentSubtitle {
  font-size: 0.75rem;
}


.aboutContentImg {
  content: "";
  background-image: url(../../assets/images/aboutProgram/students-tablet.png);
  background-size: cover;
  width: 47%;
}

}

@media (max-width: 490px) {

  .about {
    padding: 2.25rem 0;
  }

  .aboutContentImg {
    display: none;
  }

  .aboutContentText {
  gap: 1.875rem;
  background-image: url(../../assets//images//aboutProgram//tablet-mobile.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 38vw;
  padding: 1.438rem;
}

.aboutTitle {
  padding-right: 8.5rem;
}

.firstBlockTitle,
.secondBlockTitle {
  border-radius: 5px;
}



}
