@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;
@use "../../styles//fonts" as *;

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 3.313rem;
}

.aboutContainerHeader {
  text-align: center;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}




.aboutContentLeft,
.aboutContentRight {
  flex: 1 1 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aboutContentRight  {
  margin-top: 10vh;
}

.aboutContentInfo {
  display: flex;
  flex-direction: column;
  gap: 1.938rem;

  li {
    font-weight: 500;
    font-size: clamp(1rem, 1vw + 0.8rem, 1.5rem);
    padding: 0.438rem 1.375rem;
    text-transform: uppercase;
    color: $dark-jungle-green;
    border-radius: 6.25rem;
    border: 1px solid $dark-jungle-green;
    width: fit-content;
  }
}

.aboutContentList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.aboutContentList1 {
  display: flex;
  gap: clamp(0.5rem, 2vw, 1.25rem);
    flex-wrap: wrap;
}

.aboutContentList3 {
  display: flex;
  justify-content: space-between;
  gap: clamp(0.5rem, 0.8vw, 1.25rem);
  flex-wrap: wrap;
}

.aboutContentAddress {
  background-color: $dark-jungle-green;
  border-radius: 1.25rem;
  padding: 1.688rem 2.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;

  a {
    font-weight: 400;
    font-size: 1.5rem;
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }
}


.aboutContentImage img,
.aboutImageCoworking,
.aboutImageHall img {
  width: 100%;
  height: auto;
  border-radius: 0.938rem;
  object-fit: cover;
}

.aboutContentImageCluster {
  aspect-ratio: 16 / 10;
}

.aboutImageCoworking {
  background-image: url("../../assets/images/aboutSchool/coworking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.938rem;
  width: 100%;
  aspect-ratio: 16 / 10; 
}

.aboutImageHall img {
  width: 100%;
  aspect-ratio: 16 / 10;
  object-fit: cover;
  border-radius: 0.938rem;
}


@media (max-width: 1024px) {
   

  .aboutContainer {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .aboutContent {
    flex-direction: column;
    gap: 2rem;
    max-width: 1024px;
    margin: 0 auto;  
  }

  .aboutContentLeft,
  .aboutContentRight {
    flex: 1 1 100%;
    max-width: 100%;
      margin: 0 auto;
  }

  .aboutContentRight {
    margin-top: 0;
  }



  .aboutContentInfo li {
    font-size: clamp(0.875rem, 1vw + 0.6rem, 1.25rem);
    padding: 0.4rem 1rem;
    margin: 0 auto;
  }
}

@media (max-width: 490px) {

  .aboutContainer {
    gap: 1.5rem;
  }

  .aboutContent {
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
  }

  .aboutContentLeft,
  .aboutContentRight {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .aboutContentRight {
    margin-top: 1rem;
  }

  .aboutImageHall img,
  .aboutImageCoworking {
    width: 100%;
    height: auto;
    background-size: cover; 
  }

  .aboutContentInfo {
    gap: 1.125rem;
  }

  .aboutContentList1 {
   flex-wrap: wrap;
  }

  .aboutContentAddress  {
    padding: 0.875rem 4.5rem;
    border-radius: 0.625rem;
  }

  .aboutContentAddress a {
    font-size: 0.75rem;
    text-align: center;
  }



  .aboutContentInfo li {
    font-size: 0.75rem;
    padding: 0.3rem 0.8rem;
    text-align: center;
  }

}

