@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;

.boldText {
  font-weight: 700; 
}

.selectionSection {
  padding: 7.5rem 0;
}

.selectionContent {
  padding: 4.375rem 4.375rem ;
  border-radius: 1.25rem;
  background-color: $dark-jungle-green;
  display: flex;
  flex-direction: column;
  gap: 3.063rem;
}


.selectionHeader {
   color: $white;
  text-align: center;
}

.selectionList {
    display: flex;
    flex-direction: column;
    gap: 0.813rem;
  
}


.selectionlistItem {
  padding: 1.469rem 5.844rem;
  background-color: $white;
  color: $dark-jungle-green;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  
}

.selectionDayItems  {
  display: flex;
  flex-direction: column;
  gap: 1.313rem;
  margin: 0 auto;
}

.dayItem {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 2.25rem;
  color: $white;
  justify-content: center;

}


.value {
  color: $yellowship-green;
  font-weight: 700;
}

.divider {
  width: 100%;
  height: auto;
}

@media (max-width: 1350px) {

  .dayItem {
  font-size: 1.65rem;
  }

}

@media (max-width: 1024px) {

  .selectionSection {
    padding: 4rem 0;

}

.selectionContent {
  gap: 2.188rem;
  padding: 1.875rem;
}

.selectionlistItem {
  padding: 0.938rem 5.844rem;
  font-size: 0.875rem;
   display: inline-block; 
  
}

.selectionDayItems  {
  gap: 0.938rem;
  margin: 0 auto;
}

.dayItem {
  font-size: 1rem;
}





}

@media (max-width: 490px) {

  
  .selectionSection {
    padding: 3.75rem 0;

}

.selectionContent {
  gap: 1.438rem;
  padding: 1.563rem;
  border-radius: 0.625rem;
}

.selectionlistItem {
  padding: 0.625rem;
  font-size: 0.75rem;
  border-radius: 0.313rem;
  
}

.selectionDayItems  {
  gap: 0.813rem;
  margin: 0 auto;
}

.dayItem {
  font-size: 0.75rem;
}

.dayItem:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}




}

