@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;
@use "../../styles//fonts" as *;

footer {
  background-color: $dark-jungle-green;
}

.footerContainer {
padding : 0 6.25rem;
display: flex;
flex-direction: column;
gap: 2.275rem;
}

.footerContent {
  padding-top: 2.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLinks,
.footerSocialLinks {
  display: flex;
  flex-direction: row;
  gap: 1.125rem;
  align-items: center;
}

.footerSocialLinks {
  gap: 1.5rem;


}

.schoolLogoImg {
  width:4.313rem;
  height: auto;
}

.rudnLogoImg {
  width: 9.625rem;
  height: auto;

}

.xLogoImg {
  width: 1.688rem;
  height: auto;

}

.footerText {
    padding-bottom: 2.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footerTextItem {
  font-size: 1.25rem;
  color: $white;
}

.footerTextLink {
  text-decoration: underline;
}

@media (max-width: 1024px) {

  .footerContainer {
padding : 0  2.813rem;
gap: 1.203rem;
}

.footerContent {
  padding-top: 1.5rem;
}

.footerText {
    padding-bottom: 1.5rem;
}


.footerLinks{
  gap: 1.188rem;

}

.schoolLogoImg {
  width: 2.061rem;
}

.rudnLogoImg {
  width: 5.419rem;

}

.xLogoImg {
  width: 1rem;

}


.footerSocialLinks {
  gap: 1.188rem;

  img {
    width: 2rem;
    height: auto;
  }


}

.footerTextItem {
  font-size: 0.75rem;
}



}

@media (max-width: 690px) {

  .footerContent {
  padding-top: 1.063rem;
}

.footerText {
   padding-bottom: 1.063rem;
   flex-direction: column;
   gap: 0.5rem;
}

}

@media (max-width: 490px) {

    .footerContainer {
padding : 0 1.75rem;
gap:1.238rem;
}

.footerLinks{
  gap: 0.8rem;

}


.schoolLogoImg {
  width: 1.656rem;
}

.rudnLogoImg {
  width: 4.625rem;
}

.xLogoImg {
  width: 0.705rem;
}


.footerSocialLinks {
  gap: 0.7rem;

  img {
    width: 1.699rem;
  }


}

}
