@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;
@use "../../styles//fonts" as *;

footer {
  background-color: $dark-jungle-green;
}

.footerContainer {
padding : 0 9.25rem;
}

.footerContent {
  padding: 2.625rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLinks,
.footerSocialLinks {
  display: flex;
  flex-direction: row;
  gap: 4.375rem;
  align-items: center;
}

.footerSocialLinks {
  gap: 2.25rem;


}

@media (max-width: 1024px) {

  .footerContainer {
padding : 0  2.813rem;
}

.footerContent {
  padding: 1.5rem 0;
}


.footerLinks{
  gap: 1.188rem;

  img {
    height: 34px;
    width: auto;
  }
}


.footerSocialLinks {
  gap: 1.188rem;

  img {
    width: 32px;
    height: auto;
  }


}



}

@media (max-width: 490px) {

    .footerContainer {
padding : 0  3.75rem;
}

.footerContent {
  padding: 1.063rem 0;
}


.footerLinks{
  gap: 0.875rem;

  img {
    height: 26px;
    width: auto;
  }
}


.footerSocialLinks {
  gap: 0.978rem;

  img {
    width: 27px;
    height: auto;
  }


}

}
