@use "../../styles/variables" as *;
@use "../../styles/core" as *;
@use "../../styles/mixins" as *;
@use "../../styles//fonts" as *;

.paragraph {
  font-family: "Roboto-c", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0%;
}

@media (max-width: 1024px) {
  .paragraph {
  font-size: 0.875rem;
  letter-spacing: 0.4px;
}

}

@media (max-width: 490px) {
  .paragraph {
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  line-height: 1.1;
}

}



